* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: 'Mulish', sans-serif;
  --color-text-h1: #b52184;
  --color-text-p: #3e396e;
  --color-form: #312D64;
  --color-gradient: linear-gradient(to right, #343193, #312D64);
  --color-gradient-hover: linear-gradient(to right, #534ee1, #201872);
}

.astronaut img{
  width: 100%;
  padding-bottom: 2rem;
}

.header-text img{
  width: 5.5rem;
  padding: 1.8rem 0.8rem;
  border: solid 0.3rem var(--color-text-h1);
  border-radius: 4.0rem;
  margin: 3.5rem 0 6rem 0;
  cursor: pointer;
}

h1, 
p {
  font-family: 'Mulish', sans-serif;
}

h1 {
  font-weight: 900;
  color: var(--color-text-h1); 
  font-size: 3rem;
}

p {
  font-weight: 600;
  color: var(--color-text-p);
  font-size: 2rem;
} 

.main{
  background: var(--color-gradient);
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.section{
  background-color: #FFFFFF;
  padding: 3rem;
  margin: 2rem;
  border-radius: 3rem;
}

.section img{
  margin-bottom: 3.3rem;
} 

.contact{
  margin: 7rem 4rem;
}

.contact h1{
  font-size: 3.6rem;
  margin-bottom: 3rem;
}

fieldset{
  border: none;
}

textarea{
  margin-left: 1.5rem;
  resize: none;
  width: 90%;
}

input{
  width: 80%;
}

input, 
textarea{
  font-family: 'Mulish', sans-serif;
  border: none;
  outline: none;
  font-size: 1.8rem;
  font-weight: 600;
  padding-left: 10px;
}

.input-container{
  border: solid 0.2rem var(--color-form);
  border-radius: 15px;
  margin: 2rem 0;
  padding: 1.2rem 0;
}

.input-container img{
  padding: 0 1.5rem;
}

.input-container ::placeholder{
  color: var(--color-form);
}

button{
  background: var(--color-gradient);
}

button input{
  color: #FFFFFF;
  background-color: transparent;
  font-size: 1.6rem;
}

button,
button :hover{
  height: 5rem;
  width: 18rem;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

button :hover{
  opacity: 0.85;
  background: var(--color-gradient-hover);
}

button :active{
  background: #9485ed;
}

footer{
  width: 100%;
  background: var(--color-gradient);
}

footer p{
color: #FFFFFF;
text-align: center;
padding: 3rem 0;
font-size: 1.8rem;
}

@media screen and (max-width: 959px){
.header{
  text-align: center;
}

.stars{
  display: none;
}
}

@media screen and (min-width: 960px) {
  .header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 3rem 0 10rem;
  }
  
  .header-text{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
  }

  .header-text img{
   margin-top: 10rem;
  }
  
  .header-text h1{
    font-size: 6rem;
    padding-top: 10rem;
  } 
  
  .header-text p{
    font-size: 3.2rem;
  }

  .main{
    display: flex;
    flex-direction: row;
  }

  .contact{
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  
  .infos{
    margin-left: 5rem;
    width: 50vw;
    align-self: center;
  }
}